{% extends "layout.njk" %}}

{% block head%}
    <title>Página não encontrada</title>
{% endblock%}

{% block content %}
    
    <main>
        <div class="content__not-found">
            <div class="container__not-found">
                <div class="container__content">
                    <h1>Desculpa...</h1>
                    <span>Nós não conseguimos encontrar o que você estava procurando.</span>
                    <div class="container__content-btn">
                        <a href="/">Página Inicial</a>
                    </div> 
                </div>
            </div>
        </div>
    </main>
{% endblock %}