{% extends "layout.njk" %}

{% block head %}
    <title>Receitas - Foodfy</title>
{% endblock %}

{% block content %}
        <main>
            <div class="recipes">

            {% for recipe in recipes %}

                <div class="recipe" id="{{recipe.id}}">
                    <div class="recipe__image-container">
                        <img src="{{recipe.image}}" alt="Imagem do {{recipe.title}}">
                    </div>

                    <div class="recipe__content">
                        <p class="recipe__title">{{recipe.title}}</p>
                        <p class="recipe__author">por {{recipe.author}}</p>
                    </div>
                </div>

            {% endfor %}

            </div>
        </main>
    {% endblock %}